

<body style="background-color: #d4e5e9 ;">
    <div style="font-size:larger ;">Go to position</div>
    <br>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)] = "latitude" style="width: 300px;"> 
        <label for="float-input">Lattitude</label>
    </span>
    <br>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)] = "longtitude" style="width: 300px;"> 
        <label for="float-input">Longitude</label>
    </span>
    <br>
    <button class="btnLocate" pButton type="button" label="Locate" (click)="onClickLocate()" style="width: 300px;"></button>
    </body>
    
