<div class="cards">
    <div class="card1" style="background-color:red"></div>
    <div class="card2" style="background-color: chartreuse"></div>
    <div class="card3" style="background-color: blue"></div>
    <div class="card4" style="background-color:aqua"></div>
  </div>
    
  
  
 
   
