html {
    font-size: 22px;
}

body {
    padding: 1rem;
}

.card1 {
    color: white;
    padding: 7rem;
    height: 7rem;
}
.card2 {
    color: white;
    padding: 7rem;
    height: 7rem;
}
.card3 {
    color: white;
    padding: 7rem;
    height: 7rem;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

@media (min-width: 200px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card4 {
        color: white;
        padding: 7rem;
        height: 7rem;
    }



}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card4 {
        color: white;
        padding: 7rem;
        height: 7rem;
    }



}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        margin-right: auto;
    }

    .card4 {
        width: 315%;
    }
}