
.ass1{
  margin-top: 50px;
  margin-left: 110px;
}
.col{
  margin-top: 40px;
  margin-left: 600px;
  width: 500px;
}
.post{
  width: 560px;
  height: 250px;
  background-color: #C4DBE0;
}
.textPost{
  font-size: 20px;
  font-weight: bold;
}
.textComments{
  font-size: 25px;
  font-weight: bold;
}
.textNewComment{
  font-size: 20px;
}

.inputComment {
  resize: horizontal;
  height: 70px;
  width: 223px;
  border: 2px solid #0C6980;
}
.btnComment {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 1.7cm;
    width: 119px;
    height: 40px;
  }

  .btnClear {
    background-color: #ff0015; 
    border: none;
    color: white;
    padding:  3px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 3px;
    width: 113px;
    height: 40px;
  }


  .inputName{
    margin-left: 30px;
    width: 223px;
    height: 40px;
    border: 2px solid #0C6980;
  }
  
  .inputComment{
    margin-left: 10px;
  }
  .btn{
    margin-bottom: 22cm;
  }
  .textName{
    font-size: 15px;
    font-weight: 500;
  }

  .textComment{
    font-weight: 500;
  }
 
  
 