<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#d4e5e9 ;">
  <div class="ass1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p class="textPost">Post
          <p>
            <img class="post" src="https://www.allkpop.com/upload/2020/02/content/200153/1582181596-20200220-jeno.jpeg">
          <p class="textComments">Comments</p>
          <div *ngFor="let comment of commentList">
            <app-comment [comment]="comment"></app-comment>
          </div>
        </div>
        <div class="col">
          <div class="col-sm-8">
            <p class="textNewComment">New Comment</p>
            <div class ="textName">
              Name:
              <input type="text" pInputText [(ngModel)]="name" class="inputName" placeholder="Your name.."/>
              <!-- <input type="text" [(ngModel)]="name" class="inputName" placeholder="Your name.."> -->
            </div><br>
            <div class ="textComment">
              Comment:
              <input type="text" pInputText [(ngModel)]="comment" class="inputComment" placeholder="Your comment.."/>
              <!-- <input [(ngModel)]="comment" class="inputComment" placeholder="Your comment.."> -->
            </div>
            <br>
            <div class="btn"> 
              <button pButton type="button" label=" comment" class = btnComment (click) = "doComment()" ></button>
              <!-- <button class = btnComment (click) = "doComment()">comment</button> -->
              <button pButton type="button" label="clear" class = btnClear (click) = "clearComment()"></button>
              <!-- <button class = btnClear (click) = "clearComment()">clear</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>