<div class="row">
  <div class="col-sm-4">
    <div class="divMap" #divMap></div>
  </div>
  <div class="col-sm-8">
    <div class="divScroll">
    <table style="width: 480px;">
      <tr>
        <th>State</th>
        <th>Sub Regions</th>
        <th>State Abbr</th>
      </tr>
     <tr class="pointer" *ngFor=" let state of states" (click)="doStateClick(state.state_name)">
      <td>{{state.state_name}} </td>
      <td>{{state.region}} </td>
      <td>{{state.abbr}} </td>
    </tr></table></div>
  </div>
</div>