.divMap {
    border-style: none;
    text-align: center;
    border-radius: 0%;
    width: 50%;
    height: 400px;
    float: left;
    padding: 10px;
    position: absolute;
    margin-top: 30px;
    
}
.col-sm-4{
  margin-right: 300px;
}
.col-sm-8{
  margin-left: 800px;
  margin-bottom: 1000px;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #d4e5e9;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
.divScroll{
  width: 500px;
  height: 480px;
  overflow-y: scroll;
}
.pointer {
  cursor: pointer;
}