.comments{
    width: 570px;
    height: 100px;
    padding: 10px;
    border: px solid #022128;
    margin: 0;
    background-color: #afdde7;
    margin-bottom: 1cm;
    border-radius: 20px;

}
.name{
    font-size: larger;
    font-weight: bolder;
}
.button{
    margin-top: 12px;
    margin-left: 330px;
}
.btnEdit{
    background-color: #02158d; /* Green */
    border: none;
    color: white;
    padding: 3px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1.7cm;
    border-radius: 10px;
}
.btnDelete{
    background-color: #ff0000; /* Green */
    border: none;
    color: white;
    padding: 3px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 1.7cm;
    border-radius: 10px;
    margin-left: 45px;
}