<div class="comments">
   
    <div class="name">{{comment.name}}</div>
    <div class="comment">{{comment.comment}}</div>
    <div class="button">
    <div class="row">
        <div class="col-sm-4"><button class="btnEdit">Edit</button></div>
        <div class="col-sm-8"><button class="btnDelete" >Delete</button></div>
      </div>
    </div>
</div>