<!DOCTYPE html>
<html>
<body body style="background-color:#d4e5e9 ;">
    <div class="ass3">
    <div class="nameText">
        ชื่อ:
        <input class="nameInput" [(ngModel)]="name">
    </div>
    <br>
    <button class="btnCheck"  (click)="checkName()">ตรวจสอบ</button>
    <br>
    <br>
    <div class="result">
    <div class="TextResult" *ngIf="horaService.sum == 0 " style="font-size:20px;">ผลตรวจ : Your name has no points. </div>
    <div class="TextResult" *ngIf="horaService.sum == 1  "style="font-size:25px;" >ผลตรวจ: 🌟  </div>
    <div class="TextResult" *ngIf="horaService.sum == 2 " style="font-size:25px;">ผลตรวจ : 🌟 🌟 </div>
    <div class="TextResult" *ngIf="horaService.sum == 3 " style="font-size:25px;">ผลตรวจ : 🌟 🌟 🌟 </div>
    <div class="TextResult" *ngIf="horaService.sum == 4 " style="font-size:25px;">ผลตรวจ : 🌟 🌟 🌟 🌟</div>
    <div class="TextResult" *ngIf="horaService.sum == 5 " style="font-size:25px;">ผลตรวจ : 🌟 🌟 🌟 🌟 🌟 </div>
    <div></div>
</div>
</div>
</body>
</html>