.ass3{
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 450px;
}
.nameText{
    font-size: larger;
}
.nameInput{
  resize: horizontal;
  width: 230px;
  height: 30px;
  background-color: rgb(226, 226, 226);
  font-size: large;
}
.btnCheck{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 82px;
    width: 145px;
    height: 50px;
    margin-right: 82px;
    border-radius: 75px;
    

}
.TextResult{
    font-size: larger;
  }

  .TextResult{
    margin-bottom: 800px;
    
  }
  .result{
    margin-left: 30 px;
  }