
<body>
<div class="row">
    <div class="col-sm-4"> <div class="divMap" #divMap></div></div>
    <div class="col-sm-8"> <app-locate (locator)="onlocatorClick($event)"></app-locate></div>
    
  </div>