.divMap {
    border-style: none;
    text-align: center;
    border-radius: 0%;
    width: 65%;
    height: 360px;
    float: left;
    padding: 10px;
    position: absolute;
    margin-top: 30px;
}
.col-sm-8{
    margin-right: 1000px;
}
.col-sm-4{
    margin-left: 400px;
}
.table{
    margin-top: 200px;
}
#viewDiv {
    height: 50%;
    width: 100%;
  }

  .container {
    height: 50%;
    width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .viewdive{
    margin-top: 200px;
  }

  .table{
    height: 500px;
    width: 1300px;
  }

  .row{
    margin-bottom: 1000px;
  }