.divMap {
    border-style: none;
    text-align: center;
    border-radius: 0%;
    width: 60%;
    height:400px;
    float: left;
    padding: 10px;
    position: absolute;
    margin-top: 30px;
}

.col-sm-8{
    margin-left: 1000px;
}

.bt{
   margin-bottom: 1000px; 
}
