<body style="background-color: #d4e5e9 ;">
  <div class="row">
    <div class="col-sm-4">
      <div class="divMap" #divMap></div>
    </div>
    <div class="col-sm-8">
      <button class="bt"></button>
    </div>
  </div>
</body>